<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido: {{ title }}!

  </h1>
 
</div>

 <div class="encabezado"> 
  <h1>¡Hola {{ destino }}!</h1>
  <app-fechaactual></app-fechaactual>
  <app-copyright></app-copyright>
  <h3>Ejemplo de Interpolación con Objeto</h3> <hr>
  <app-viewmodelo></app-viewmodelo>
  <br>
  <app-ejmetodo></app-ejmetodo>
  <app-ejpropertybinding></app-ejpropertybinding>

  <h3>Ejemplo de Event Binding</h3>
  <br>
  <hr> <app-ejeventbinding></app-ejeventbinding>
  <h3>Ejemplo de Two Way Binding</h3> <hr>
  <app-ej2waybinding></app-ej2waybinding>
  <br>
  <h3>Ejemplo de directiva ngIf</h3>
  <hr> <app-ejdirectivangif></app-ejdirectivangif>
  <br>
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr> <app-ejdirectivangstyle></app-ejdirectivangstyle>
  <br>
  <h3>Ejemplo de directiva ngClass</h3>
  <hr> <app-ejdirectivangclass></app-ejdirectivangclass>
  <h3>Ejemplo de directiva ngFor</h3>
  <hr> <app-ejdirectivangfor></app-ejdirectivangfor>
  <br>
  <h3>Ejemplo de directiva ngFor con objetos</h3> <hr>
  <app-arrayobjetos></app-arrayobjetos>
  <br>
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr> <app-ejdirectivangswitch></app-ejdirectivangswitch>


</div>



<router-outlet></router-outlet>
